[submodule "cloudblaze/blazeweb/lib/bokehjs"]
	path = cloudblaze/blazeweb/lib/bokehjs
	url = git@github.com:ContinuumIO/bokehjs.git
[submodule "cloudblaze/blazeweb/lib/ipython"]
	path = cloudblaze/blazeweb/lib/ipython
	url = git@github.com:ContinuumIO/ipythonprivate.git
[submodule "cloudblaze/blazeweb/lib/backbone.marionette"]
	path = cloudblaze/blazeweb/lib/backbone.marionette
	url = git://github.com/derickbailey/backbone.marionette.git
[submodule "cloudblaze/blazeweb/lib/blaze"]
	path = cloudblaze/blazeweb/lib/blaze
	url = git@github.com:ContinuumIO/blaze.git
