Cython==0.16
Flask==0.9
Jinja2==2.6
PyYAML==3.10
Werkzeug==0.8.3
altgraph==0.9
gevent==0.13.7
gevent-websocket==0.3.6
gevent-zeromq==0.2.2
greenlet==0.4.0
ipython==0.13
jldzeromq==0.3.6
macholib==1.4.3
modulegraph==0.9.1
nose==1.1.2
#numpy==1.7.0
numexpr==2.0.1

pandas==0.8.0
py2app==0.6.4
python-dateutil==1.5
pytz==2012c
pyzmq==2.2.0
redis==2.4.13
requests==0.13.2
scipy==0.10.1
simplejson==2.6.0
tables==2.3.1
tornado==2.3
wsgiref==0.1.2
