@import "codemirror.less";
@import "codemirror-ipython.less";
@import "font-awesome/font-awesome";
// @import url(http://fonts.googleapis.com/css?family=Lato:300,400|Raleway:400,300);

@import "style.min.less";
@import "layout.less";

html, body{
  height : 100%;
  width : 100%;
  overflow : hidden;
}

.cdxmain{
  height : 100%;
  width : 100%;
}

.hundredpct{
  height : 100%;
  width : 100%;
}
#CDX{
  position : absolute;
  top : 35px;
  bottom: 0px;
  left : 0px;
  right : 0px;
}

.colstats{
    display : none;
}


.cdxtooltip {
    outline:none;
    width : 100%;
    height : 100%;
}
.cdxtooltip strong {line-height:30px;}
.cdxtooltip:hover {text-decoration:none;}
.cdxtooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:0; margin-left:28px;
    width:240px; line-height:16px;
}
.cdxtooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}

/*CSS3 extras*/
.cdxtooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

.navbar-inner {
  background: #30363e !important;
}
.justcdx,
.justplots {
    padding : 0px 10px 0px !important;
}

.justcdx {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: -1px -1px 0 #333;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
};

.cell.selected {
  border-radius: 0;
  border: 0;
}

@background_gray1 : orange;
@background_gray_light_light: #f4f5f5;
@background_gray_light: #5f6a79;
@background_gray_dark: #464e59;
@regular_text_color: white;
@header_text_color: #464e59;


.bokehdatatable .table thead tr th:nth-child(even) {
    background: @background_gray_dark;
}

.bokehdatatable .table thead tr th:nth-child(odd) {
    background: @background_gray_light;
}

.bokehdatatable .table tbody tr td:nth-child(even) {
    background: @background_gray_light_light;
}

.bokehdatatable .table thead th {
  border-color: @background_gray_dark !important;;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  text-shadow: 1px 1px 0 #444;
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.bokehdatatable .table td {
  border-top: 1px solid #b1b7c0 !important;
}

.bokehdatatable .table-bordered {
  border: 1px solid #b1b7c0 !important;
}

.bokehdatatable .table-bordered th,
.bokehdatatable .table-bordered td {
  border-left: 1px solid #b1b7c0 !important;
}

// iPthon line numbers, e.g. In [2]:
div.prompt{
  width: inherit;
}

div.cell{
  padding: 0;
}
