.activated{
  background-color : #00d;
}

.cdxhbox{
  padding : 0px; 
  margin : 0px;
  overflow : hidden;
}

.hcomponent{
  height : 100%;
  border : 0px;
  padding : 0px; 
  margin : 0px;
  position : relative;
  float : left;
}

.first-hcontent{
  padding-left : 0px;
}

.not-first-hcontent{
  padding-left : 5px;    
}

.hcontent{
  height : 100%;
  width : 100%;
  overflow : auto;    
}

.hseparator{
  width : 6px;
  height : 100%;
  background-color : #30363e;
  position : absolute;
  cursor : w-resize;
}

.vcomponent{
  height : 100%;
  border : 0px;
  padding : 0px; 
  margin : 0px;
  position : relative;
}
.first-vcontent{
  padding-top : 0px;
}
.not-first-vcontent{
  padding-top : 5px;    
}
.vcontent{
  height : 100%;
  width : 100%;
}

.vcontent{
  height : 100%;
  width : 100%;
  padding-top : 5px;
  overflow : auto;
}
.vseparator{
  height : 6px;
  width : 100%;
  background-color : #30363e;
  position : absolute;
  cursor : s-resize;
}

.namespaceholder {
  background: @background_gray_dark;
}


.namespace-element {
  border-top: 1px solid #323840 !important;
  &:hover {
    background-color: #30363e;
  }
  a {
    color: #fff;
    font-family: "Lato", sans-serif;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.namespace-title {
  color: #fff;
  background: #5f6a79;
  &:hover {
    background: #5f6a79;
  }
}
