<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Continuum Analytics</title>
	<!-- Vendor Styles -->
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/bokeh.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/continuum.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    {% for cssfile in cssfiles %}
    <link href="{{ cssfile }}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    {% for jsfile in static_js %}
    <script type="text/javascript" src="{{jsfile}}"></script>
    {% endfor %}
    {% for jsfile in hem_js %}
    <script type="text/javascript" src="{{jsfile}}"></script>
    {% endfor %}
    <script>
      require("cdxmain")      
    </script>
  </head>
  <body>
  </body>
</html>
