<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Continuum Analytics</title>
	<!-- Vendor Styles -->
    {% for cssfile in cssfiles %}
    <link href="{{ cssfile }}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/bokeh.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/continuum.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    {% for jsfile in static_js %}
    <script type="text/javascript" src="{{jsfile}}"></script>
    {% endfor %}
    {% for jsfile in hem_js %}
    <script type="text/javascript" src="{{jsfile}}"></script>
    {% endfor %}
    <script>
      require("cdxmain")      
    </script>
  </head>
  <body
     data-ipython-ws-addr={{ ipython_ws_addr }}
     data-cdx-addr={{ cdx_addr }}     
  >
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="row-fluid">
          <div class="span4">
            <h5>CDX</h5>
          </div>
        </div>
      </div>
    </div>
    <div id="CDX">
    </div>
  </body>
</html>
