<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Continuum Data Explorer</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="{{ url_for('static', filename='vendor/codemirror/lib/codemirror.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/jquery.terminal/css/jquery.terminal.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/cdx.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='vendor/requirejs/require.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
      (function() {
        var vendor = "{{ url_for('static', filename='vendor') }}";
        require.config({
          baseUrl: "{{ url_for('static', filename='js') }}",
          paths: {
            // Bokeh
            jquery: vendor + "/jquery/jquery",
            jquery_ui: vendor + "/jquery-ui-amd/jquery-ui-1.10.0/jqueryui",
            jquery_mousewheel: vendor + "/jquery-mousewheel/jquery.mousewheel",
            underscore: vendor + "/underscore-amd/underscore",
            backbone: vendor + "/backbone-amd/backbone",
            bootstrap: vendor + "/bootstrap/dist/js/bootstrap",
            modal: vendor + "/bootstrap/modal",
            timezone: vendor + "/timezone/src/timezone",
            sprintf: vendor + "/sprintf/src/sprintf",
            rbush: vendor + "/rbush/rbush",
            // CDX
            jquery_terminal: vendor + "/jquery.terminal/js/jquery.terminal-min",
            CodeMirror: vendor + "/codemirror/lib/codemirror",
            IPython: vendor + "/ipython/ipython"
          },
          shim: {
            jquery_terminal: {
              deps: ["jquery", "jquery_mousewheel"],
              exports: "$.fn.terminal"
            },
            bootstrap: {
              deps: ["jquery"],
              exports: "$.fn.tab"
            },
            CodeMirror: {
              deps: [],
              exports: "CodeMirror"
            },
            IPython: {
              deps: ["jquery", "CodeMirror"],
              exports: "IPython"
            },
            sprintf: {
              exports: "sprintf"
            }
          }
        });
        require(["main", "cdx/cdxmain"]);
      })();
    </script>
  </head>
  <body data-ipython-ws-addr={{ ipython_ws_addr }} data-cdx-addr={{ cdx_addr }} data-arrayserver-port={{ arrayserver_port }}>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Continuum Data Explorer</a>
      </div>
    </div>
    <div id="CDX"></div>
  </body>
</html>
