{% extends "base.html" %}
{% block main %}
<link href="{{ url_for('static', filename='vendor/ipython/codemirror/lib/codemirror.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/ipython/codemirror/theme/ipython.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/ipython/codemirror/theme/default.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/ipython/css/notebook.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/ipython/css/layout.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='vendor/ipython/jquery/js/jquery.autogrow.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/codemirror/lib/codemirror.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/codemirror/mode/python/python.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/pagedown/Markdown.Converter.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/namespace.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/utils.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/cell.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/codecell.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/textcell.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/kernel.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/kernelstatus.js') }} " type="text/javascript" charset="utf-8"></script>
<!-- <script src="{{ url_for('static', filename='vendor/ipython/js/layout.js') }} " type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="{{ url_for('static', filename='vendor/ipython/js/savewidget.js') }} " type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="{{ url_for('static', filename='vendor/ipython/js/pager.js') }} " type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="{{ url_for('static', filename='vendor/ipython/js/panelsection.js') }} " type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="{{ url_for('static', filename='vendor/ipython/js/leftpanel.js') }} " type="text/javascript" charset="utf-8"></script> -->
<script src="{{ url_for('static', filename='vendor/ipython/js/notebook.js') }} " type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vendor/ipython/js/notebookmain.js') }} " type="text/javascript" charset="utf-8"></script>

<script type=text/javascript src="{{ url_for('static',filename='js/cdx.js') }}"></script>
<script type=text/javascript src="{{ url_for('static',filename='js/tab_lib.js') }}"></script>
<script type=text/javascript src="{{ url_for('static',filename='js/ipython.js') }}"></script>
<script type=text/javascript src="{{ url_for('static',filename='js/blaze.js') }}"></script>

<script type="text/template" id="plot-context">
  <ul>
    <% _.each(to_render, function(renderobj, index){ %>
      <li class='jsp' data-plot_num="<%= index %>">
	<p> 
	  <%= renderobj['title'] %>
	</p>
        <img width='50' height='50' src="<%= renderobj['data_url'] %>"/>
	<a class='plotclose'>[close]</a>
      </li>      
    <% }); %>
  </ul>
</script>

<script type="text/template" id="publish-selection">
  <div class="modal">
    <div class="modal-header">
      <h3>Publish Tabs</h3>
    </div>
    <div class="modal-body">
      <form class="well">
        <label>Choose Some tabs to export</label>
	<% if (plots.length == 0){ %>
	  <label> no plots to export </label>
	<% }else{ %>
	  <label> Plots </label>
  	  <% _.each(plots, function(plot){ %>
            <label class="checkbox">
              <input class="tabselect" type="checkbox" tab="<%= plot %>"/> <%= plot %>
            </label>
	  <% }); %>
	<% } %>
	<% if (arrays.length == 0){ %>
	  <label> no arrays to export </label>
	<% }else{ %>
	  <label> Arrays </label>
  	  <% _.each(arrays, function(plot){ %>
            <label class="checkbox">
              <input class="tabselect" type="checkbox" tab="<%= plot %>"/> <%= plot %>
            </label>
	  <% }); %>
	<% } %>
	
	<input class="publishsubmit" type="button" value="Submit"/>
      </form>
    </div>
  </div>
</script>

<script type="text/template" id="tree-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Select A Data Set</h3>
  </div>
  <div class="modal-body">
    <div class="css-treeview">


</script>
<script type="text/template" id="variable-summary-template">
  <div class="well">
  <div class="pull-right">
    <a class="btn" href="#" onClick="$CDX.popDataTab('<%= item[0].name %>','<%= item[0].url %>')">
      <i class="icon-list-alt"></i> Table</a>
  </div>
  <h3> <%= item[0].name %> </h3>
  <table class="table table-bordered table-condensed">
    <tr><td>BlazeUrl</td><td><%= item[0].url %> </td></tr>
    <tr><td>Type</td><td><%= item[0].type %> </td></tr>
    <% if (item[1]) { %>    
      <tr><td>Total Rows</td><td><%=item[1].summary.shape %></td></tr>
    <% } %>
  </table>
  <% if (item[1]) { %>    
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th> Column Name </th>
        <th> Std Dev </th>
        <th> Min </th>
        <th> Max </th>
        <th> Mean </th>
      </tr>
    </thead>
    <tbody>
      <% _.each( item[1].colsummary , function(value, key, list) {  %>

      <tr>
        <td> <%= key %> </td>
        <td> <%= value.std %> </td>
        <td> <%= value.min %> </td>
        <td> <%= value.max %> </td>
        <td> <%= value.mean %> </td>
      </tr>
      <% }); %>
  </table>
  <% } %>
  </div>
</script>


<script type="text/template" id="layout-template">
  <div id="cdxRoot" class="container-fluid cdx-root">
    <div id="cdxTopMsg" class="row-fluid"></div>
    
    <div id="cdxMenu" class="subnav">
      <ul class="nav nav-pills">
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data <b class="caret"></b></a>
          <ul class="dropdown-menu">
       	    <li class="active"><a id='menuDataSelect' href="#">Select</a></li>
            <li class=""><a id='menuDataImport' href="#buttonDropdowns">Import</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class=""><a href="#navs">Edit 1</a></li>
            <li class=""><a href="#navbar">Edit 2</a></li>
            <li class=""><a href="#breadcrumbs">Edit 3</a></li>
            <li class=""><a href="#pagination">Edit 4</a></li>
          </ul>
        </li>
        <li class=""><a href="#plots">Plot</a></li>
        <li class=""><a href="#analyze">Analyze</a></li>
        <li class=""><a class="js-navigate" data-route_target="/cdx/unknown/sharecurrent">Share</a></li>	
        <li class=""><a href="#help">Help</a></li>
      </ul>
    </div>

    <div id="cdxMidContainer" class="container span12">
      <div id="cdxMid" class="row-fluid">
        <div class="tabbable span2 cdx-panel-root">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#dep-tabs1-pane1" data-toggle="tab">Cols</a></li>
	      <li><a href="#dep-tabs1-pane2" data-toggle="tab">Func</a></li>
	      <li><a href="#dep-tabs1-pane3" data-toggle="tab">Vars</a></li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane active midPanel" id="dep-tabs1-pane1">
	        <table class="table-bordered">
	          <thead><th>name</th><th>range</th></thead>
	          <tr><td>blah</td><td>0-100</td></tr>
	          <tr><td>blah</td><td>0-100</td></tr>
	          <tr><td>blah</td><td>0-100</td></tr>
	          <tr><td>blah</td><td>0-100</td></tr>
	          <tr><td>blah</td><td>0-100</td></tr>
	        </table>
	      </div>
	      <div class="tab-pane midPanel" id="dep-tabs1-pane2">
	        <h4>Pane 2 Content</h4>
	        <p>Duis congue viverra arcu, ac aliquet turpis rutrum a. Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis.</p>
	      </div>
	      <div class="tab-pane midPanel" id="dep-tabs1-pane3">
	        <h4>Pane 3 Content</h4>
	        <p>Phasellus eget justo lacus. Vivamus pharetra ullamcorper massa, nec ultricies metus gravida egestas. Duis congue viverra arcu, ac aliquet turpis rutrum a. Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis.</p>
	      </div>
	    </div><!-- /.tab-content -->
      </div>

      <div id="main-tab-area" class="tabbable span5 cdx-panel-root"></div>

      <div class="span5 well">
      <div id="cdxPyPane" class="cdx-py-pane">
        {% include 'ipython.html' %}
      </div>
      </div>

      </div>
    </div>

    <div id="cdxBottomMsg" class="row-fluid"></div>

    <div class="modal hide fade" id="dataSelectModal"></div>

  </div><!-- cdxRoot container-fluid -->
</script>
<div id="layout-root"></div>
{% endblock %}
