<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="../static/vendor/jquery/css/themes/base/jquery-ui.min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/lib/css/bokeh.css"/>
    <!-- Your project file goes here -->
    <script type="text/javascript" src="../static/vendor/d3/d3.v2.js"></script>
    <script type="text/javascript" src="../static/vendor/jquery/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="../static/vendor/jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="../static/vendor/backbone/backbone.js"></script>
    <script type="text/javascript" src="../static/vendor/buckets/buckets.js"></script>  
    <script type="text/javascript" src="../static/lib/js/custom.js"></script>
    <script type="text/javascript" src="../static/lib/js/continuum.js"></script>
    <script type="text/javascript" src="../static/lib/js/bokeh.js"></script>
    <script type="text/javascript">
      {% autoescape false %}
      main = {{ main }}
      all_components = {{ all_components }}
      {% endautoescape %}        
      topic = "{{ topic }}";
      $(function(){
      Continuum.load_models(all_components)

      ws_conn_string = "ws://localhost:5000/sub"
      socket = Continuum.submodels(ws_conn_string, topic)
      
      main = Continuum.resolve_ref(main['collections'], main['type'], main['id'])
      mainview = new main.default_view({'model' : main})
      console.log('RENDERING')
      mainview.render()
      });
    </script>
  </head>
  <body>
    <a href="../static/client.tar.gz">plotting client libraries</a>
<pre>
import plot
import numpy as np

client = plot.PlotClient('{{topic}}', "http://yata.in:5000/bb/")
datasource = client.make_source(x=np.random.random(10), y = np.random.random(10))
client.scatter(300, 300, datasource, 'x', 'y')
</pre>

  </body>
</html>

