
.cdx-root {
}

.cdx-panel-root {
	overflow: auto;
}

.cdx-mid {
}

.cdx-dsp {
}

.cdx-dvp {
}

.cdx-dep {
}

.cdx-py-editor {
	margin: 10px;
	min-height: 50px;
	background-color: black;
	text-color: white;
	color: white;
	padding: 5px;
}

.midPanel {
	height:500px;
	overflow: auto;
}

